.find-booking-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.find-booking-page h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.instructions {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.user-id-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    margin-right: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.find-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.find-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff0000;
    text-align: center;
    margin-bottom: 20px;
}

.booking-details {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-details h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.booking-details p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.booking-details strong {
    color: #333;
}
