.vbody{
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    width:100%;
    background-color: #b7dbe6;
}
.vcenter{
    width: 100%;
    position: absolute;
    top:47%;
    left:0;
    height: 120%;
  }
.vcenter p{
  margin-left: 10px;
  font-size: 32px;
  margin-top: 3%;
  margin-left: 4%;
  text-align: centerSS;
}
  .vavailability{
    position: absolute;
    top: 0%;
    display: flex;
    left: 10%;
  }
  .vavailability div{
    margin-left: 73px;
  }
  .vpopular{
    width: 97%;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
  }
.vpopular table{
      width:100%;
      border-collapse: collapse;
      
  }
.vpopular  td img{
      width:275px;
      border-radius: 5px;
      height:235px;
      transition: 0.3s ease-in-out;
  }
.vcenter  td img:hover{
      transform: scale(0.96);
  }
 .vcenter td{
  padding: 10px;
  margin-left: 10px;
  border-spacing: 60;
  text-align: center;
  }
  .ccontent{
    background-color: #f2f2f2;

  }
  .ccontent:hover{
    background-color: #f2f2f2;
  }
  .secondcontainer{
    display: flex;
    margin-top: 20px;
    width: 100%;
    margin-left: 4%;
  }